// Couleurs de Typos
// Titres
$gold: #d2c61c;
// Sous-Titres
$royalBlue: #55acee;
// Textes
$BlueGrey: #32506d;

// Background-color
// Footer
$lightGold: #f4f1d0;
// Modal
$transpGrey: #070707;

// Couleurs icônes 
// mobile-menu
$goldIcon: #c1b619;
// footer
$royalBlue: #55acee;
$temp: #ed9726;

// margins
// small-margin-bottom (10px)
$small_margin_b: 10px;
// small-margin-bottom (10px)
$regular_margin_b: 60px;
// regular-margin-top
$regular_margin_t: 15px;
// big-margin-top
$big_margin_t: 50px;

// padding
// regular-padding
$regular_padding: 20px;
