// Couleurs

// bases
$gold: #d2c61c;
// Titres et soulignements dégradés
$gradientGold: linear-gradient(90deg, black 30%, $gold 60%);
// Sous-Titres
$royalBlue: #55acee;
// Textes
$BlueGrey: #32506d;
// Background
$lightGold: #f4f1d0;
// Modal
$transpGrey: #070707;
// icônes footer
$royalBlue: #55acee;
$temp: #ed9726;

// Ombres

// boutons
$buttonShadow: 2px 1px 20px 5px rgba(0, 0, 0, 0.2);
$buttonShadowHover: 4px 2px 23px 2px rgba(0, 0, 0, 0.54);

// Gutters

// Margins
// small-margin-bottom (10px)
$small_margin_b: 10px;
// regular-margin-bottom (15px)
$regular_margin_b: 15px;
// medium-margin-bottom (30px)
$medium_margin_b: 30px;
// big-margin-bottom (60px)
$big_margin_b: 60px;
// regular-margin-top
$regular_margin_t: 15px;
// big-margin-top
$big_margin_t: 50px;

// Paddings
// small-padding
$small_padding: 10px;
// regular-padding
$regular_padding: 20px;
