// responsive mobile-first
.photo-route {
    width: 100%;
    height: 40vh;
    object-fit: cover;

    @media screen and (min-width: 1800px) {
        .photo-route {
            width: 100%;
            height: 100vh;
            object-fit: cover;
            object-position: top;
        }
    }
    
    @media screen and (min-width: 992px) {
        .photo-route {
            width: 100%;
            height: 80vh;
            object-fit: cover;
        }
    }
    
    @media screen and (min-width: 768px) {
        .photo-route {
            width: 100%;
            height: 60vh;
            object-fit: cover;
        }
    }

}



