@import '../helpers/variables';
@import '../helpers/mixins';
// responsive mobile-first
.home__main {
    @include flex_col_100;
    justify-content:space-between;
}

.home__photo {
    @include objectCover;
    height: 450px;
}

.home__text {
    padding: $small_padding;
}

// MEDIAQUERIES
@media screen and (min-width: 992px) {
    .home__photo {
        @include objectCover;
        object-position: top;
        height: 550px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .home__photo {
        @include objectCover;
        height: 500px;
    }
}
