// Le loader se pense d'abord en terme de quadrilatere (4 bordures)
// On détermine l'épaisseur des bordures 
// bordures L R et Bottom seront grises, Top sera d'une couleur différente
// On donne la forme ronde à ce quad avec le border-radius 50%
// On détermine l'échelle de grandeur du spinner avec la width et la height
// On anime avec avec transform: rotate (+-webkit)

.loader {
    border: 20px solid $royalBlue;
    border-radius: 50%;
    border-top: 20px solid $gold;
    width: 100px;
    height: 100px;
    -webkit-animation: spinner 1s linear infinite;
    animation: spinner 1s linear infinite;
    margin: 40px auto 20px;
}

.loaderText {
    text-align: center;
    color: $BlueGrey;
}

// animation loader
@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
