@import '../helpers/variables';

// STYLE LISTES
nav {
    margin: $small_margin_b;
}

// NAVIGATION DESKTOPS
.desktop__list {
    @include flex_row_spaceAround;
    list-style: none;

    a:hover {
        border-bottom: 2px solid $gold;
        padding-bottom: 15px;
        font-weight: 500;
        transition: 0.3s;
    }

    

    // Animation du menu
    li {
        animation-duration: 2s;
        animation-name: fromRight;
        animation-timing-function: linear;
    }

    li a {
        text-decoration: none;
        color: $BlueGrey;
    }
}

// Animation du menu
@keyframes fromRight {
    from {
        opacity: 0%;
        margin-left: 150px;
    }

    to {
        opacity: 100%;
        margin-left: 0px;
    }
}

// NAVIGATION MOBILE
// Icone
.icon {

    &__nav {
        position: fixed;
        cursor: pointer;
        color: $royalBlue;
        z-index: 9999;
        top: 5px;
        left: 5px;
        font-size: 20px;

        &--lines {
            color: $gold;
        }
    }
}

// Modal
.modal {
    background-color: $transpGrey;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0.93;
    // Sinon ligne tableau Météo et swiper apparaissent au-dessus
    z-index: 1;
}

//Menu
.mobile__list-items {
    padding: 20px 0px;

    a {
        text-decoration: none;
        font-weight: 600;
        color: $royalBlue;
    }
}

//! MEDIAQUERIES
@media screen and (max-width: 767px) {
    .nav__mobile {
        display: block;
    }
    .nav__desktop {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .nav__mobile {
        display: none;
    }
    .nav__desktop {
        display: block;
        z-index: 999;
    }

    .icon__container {
        display: none;
    }
}
