@import '../helpers/_variables';

.header__container {
    margin-top: $regular_margin_t;
    margin-bottom: $medium_margin_b;
}

@media screen and (max-width: 767px) {
    .header__container {
        margin-bottom: $big_margin_b;
    }

    .header__container h1 {
        margin-top: $big_margin_t;
    }
}