@import '../abstracts/_variables';

.header__container {
    margin-top: $regular_margin_t;
    margin-bottom: $small_margin_b;
}

@media screen and (max-width: 767px) {
    .header__container {
        margin-bottom: $regular_margin_b;
    }
}